<!-- benthos_release.launch -->

<launch>

  <!-- Launch the release script -->
  <node pkg="benthos_release" type="benthos_release_node.py" name="benthos_release_node">
  </node>

  <!-- Launch the GUI script -->
  <node pkg="benthos_release" type="benthos_gui.py" name="benthos_gui_node">
  </node>

</launch>
